.room-container {
  width: 100%;
  height: 100vh;
  .room-content {
    width: 100%;
    height: calc(100% - 64px);
    display: flex;

    .room-left-box {
      width: 80%;
      .left-top {
        width: 100%;
        height: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        .top-left-img {
          width: 16px;
          height: 16px;
          margin-left: 30px;
          margin-right: auto; /* 添加此行来左对齐图片 */
        }
        .left-top-text {
          flex-grow: 1; /* 添加此行使文本居中 */
          text-align: center; /* 确保文本在其容器内居中 */
          font-size: 16px;
          color: #999;
        }
      }
      .video-box {
        width: 100%;
        height: 87%;
        display: flex;
        position: relative;
        .video-shou {
          width: 20px;
          height: 46px;
          cursor: pointer;
          position: absolute;
          right: 0;
          top: 50%;
          z-index: 100;
        }
        .video {
          min-width: 80%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #1a1c22;

          .video-box-flex {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            .video-avatar {
            }
            .video-icon-box {
              margin-top: 10px;
              color: #fff;
              font-size: 14px;
            }
          }
        }
        .video-right {
          width: 20%;
          background-color: #363b41;
          display: flex; /* 启用Flexbox布局 */
          flex-direction: column; /* 子元素垂直排列 */
          justify-content: center; /* 子元素在主轴（垂直方向）居中 */
          padding: 60px 0; /* 上下各51px的内边距 */
          position: relative;
          .video-shou {
            width: 20px;
            height: 46px;
            cursor: pointer;
            position: absolute;
            left: -20px;
            top: 50%;
            z-index: 100;
          }
          .video-right-box {
            height: 100%;
            display: flex; // 启用Flexbox布局
            flex-direction: column; // 子元素垂直排列
            .highlight {
              border: 2px solid green; /* 选中盒子的边框颜色 */
            }
            .video-right-time {
              margin: 12px 12px 0;
              height: 141px;
              background-color: #1a1c22;
              cursor: pointer;
              border-radius: 4px;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              .item-avatar {
              }
              .item-right-bottom {
                height: 24px;
                background: rgba(0, 0, 0, 0.6);
                font-size: 13px;
                color: #fff;
                position: absolute;
                bottom: 0;
                left: 0;
                border-radius: 0 0 0 4px;
                display: flex;
                align-items: center;
                z-index: 10;
                img {
                  width: 16px;
                  height: 16px;
                  margin-left: 8px;
                }
                span {
                  font-size: 13px;
                  margin-right: 10px;
                }
              }
            }
          }
        }
        .video-close {
          min-width: 84%;
        }
        //展开之后
        .video-hide {
          width: 100%;
        }
        .video-right-hide {
          width: 0;
          display: none;
        }
      }
      .room-left-bottom {
        width: 100%;
        height: 68px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left-bottom-left {
          display: flex;
          align-items: center;
          margin-left: 24px;
          .red-point {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #ff4b51;
            margin-bottom: 6px;
          }
          .left-point-text {
            font-size: 14px;
            color: #999;
            margin-left: 4px;
            margin-bottom: 6px;
          }
        }
        .left-bottom-moddle {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: -100px;
          img {
            width: 30px;
            height: 30px;
          }
          .img-box-bottom {
            margin-left: 30px;
            margin-bottom: 6px;
            img {
              cursor: pointer;
            }
          }
        }
        .left-bottom-right {
          margin-right: 20px;
          width: 110px;
          height: 32px;
          font-size: 14px;
          color: #fff;
          background-color: #ff4b51;
          border: 1px solid #ff4b51;
          border-radius: 4px 4px 4px 4px;
          margin-bottom: 6px;
        }
      }
    }
    // 收起后的宽度
    .room-left-box-close {
      min-width: 100% !important;
    }
    .room-right-box {
      width: 20%;
      .room-right-top {
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-right: none;
        .right-top-text {
          font-size: 16px;
          color: #333;
          font-weight: 700;
        }
        .right-top-close {
          font-size: 30px;
          color: #333;
          line-height: 30px;
          margin-bottom: 6px;
          cursor: pointer;
        }
      }
      .room-right-content {
        width: 100%;
        height: 87%;
        padding: 20px 16px 20px 20px;
        overflow: auto;
        .right-name-box {
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          .right-name {
            margin-left: 8px;
            font-size: 14px;
            color: #333;
          }
          .right-icon {
            display: flex;
            justify-content: flex-end;
            margin-left: auto;
            img {
              margin-left: 16px;
            }
          }
        }
      }
      .room-right-bottom {
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid rgba(0, 0, 0, 0.08);

        .right-bottom-button {
          width: 176px;
          height: 32px;
          margin-bottom: 7px;
          border-radius: 4px 4px 4px 4px;
        }
      }
    }
    .room-right-box-close {
      width: 0 !important;
      display: none;
    }
  }
}
//共享屏幕的dropdown样式
.room-dropdown {
  .ant-dropdown-menu {
    padding: 0;
    border-radius: 4px;
    .ant-dropdown-menu-item {
      border-radius: 4px;
    }
    .ant-dropdown-menu-item.ant-dropdown-menu-item-active {
      background: rgba(0, 57, 179, 0.1);
      color: #333;
    }
  }
}
//顶部popover样式
.top-pvpover {
  left: 13px !important;
  .ant-popover-content {
    .ant-popover-arrow-content::before {
      background: #fff !important;
    }
    .ant-popover-arrow {
      ::after {
        border-top-color: rgba(0, 0, 0, 0.6) !important;
      }
      .ant-popover-arrow-content {
      }
    }
    .ant-popover-inner {
      background: #fff !important;
      box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.11);
      border-radius: 4px 4px 4px 4px;
      .ant-popover-inner-content {
        color: #333;
      }
    }
  }
}
.top-pvpover .ant-popover-arrow {
  display: block !important;
  visibility: visible !important;
}

.top-pvpover .ant-popover-arrow::after {
  border-top-color: rgba(0, 0, 0, 0.6) !important;
}

//设置弹窗的样式
.room-option-modal {
  .ant-modal-content {
    width: 800px;
    height: 495px;
    border-radius: 8px;
    .ant-modal-header {
      border-radius: 8px 8px 0 0;

      .ant-modal-title {
        color: rgba(0, 0, 0, 0.85);
        font-size: 16px;
        font-weight: 700;
      }
    }
    .ant-modal-body {
      width: 100%;
      height: 440px;
      padding: 0;
      border-radius: 0 0 8px 8px;

      .option-box {
        width: 100%;
        height: 100%;
        border-radius: 0 0 0 8px;
        display: flex;
        .option-left {
          width: 161px;
          height: 100%;
          background: #f6f7f9;
          border-radius: 0 0 0 8px;
          padding-top: 20px;
          .option-left-item {
            padding: 9px 24px;
            background: rgba(0, 57, 179, 0.1);
            font-weight: 500;
            font-size: 16px;
            color: #0039b3;
            cursor: pointer;
          }
        }
        .option-right {
          height: 100%;
          width: 639px;
          .option-right-item-box {
            padding: 20px;
            .option-right-item {
              margin-top: 17px;
            }
            .ant-checkbox-checked .ant-checkbox-inner {
              background-color: #0039b3 !important;
              border-color: #0039b3 !important;
            }
            .ant-radio-wrapper {
              margin-right: 35px;
            }
            .ant-radio-checked .ant-radio-inner {
              border-color: #0039b3 !important;
            }
            .ant-radio-checked .ant-radio-inner::after {
              background-color: #0039b3 !important;
            }
          }
        }
      }
    }
  }
}
