.login-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    176deg,
    #c8d9ff 0%,
    rgba(252, 253, 255, 0.4) 62%,
    rgba(200, 217, 255, 0.6) 100%
  );
  overflow-y: hidden;

  .login-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .login-box-left {
      width: 502px;
      height: 548px;
      margin-top: 164px;
      .left-font {
        text-align: left;
        font-family: PingFang SC, PingFang SC;
        font-size: 36px;
        font-weight: 700;
        color: #333;
        margin-left: 45px;
      }
      .left-img {
        width: 580px;
        height: 329px;
        margin-top: -24px;
        margin-left: 45px;
        .left-image {
          width: 580px;
          height: 360px;
        }
      }
    }
    .login-box-right {
      width: 502px;
      height: 490px;
      background-color: #fff;
      margin-top: 154px;
      margin-left: 174px;
      box-shadow: 2px 6px 24px 1px rgba(0, 0, 0, 0.05);
      border-radius: 24px 24px 24px 24px;
      .right-top-login {
        width: 398px;
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
        text-align: left;
        margin-top: 18px;
        font-size: 36px;
        color: rgba(0, 0, 0, 0.9);
      }
      .right-top-register {
        display: flex;
        margin-top: 18px;
        .no-register {
          color: rgba(0, 0, 0, 0.6);
          font-size: 14px;
          margin-left: 51px;
        }
        .go-register {
          color: #0039b3;
          font-size: 14px;
          margin-left: 4px;
          cursor: pointer;
        }
      }
      .right-from {
        margin-top: 50px;
        margin-left: 52px;
        .pass-icon {
          width: 16px;
          height: 16px;
          position: absolute;
          left: 8px;
          top: 77px;
          z-index: 9;
        }
        .user-icon {
          width: 16px;
          height: 16px;
          position: absolute;
          left: 8px;
          top: 14px;
          z-index: 9;
        }
        .rule-icon {
          width: 16px;
          height: 16px;
          position: absolute;
          left: 8px;
          top: 140px;
          z-index: 9;
        }
        .right-forget {
          margin: 0 0;
          margin-top: 24px;
          margin-left: 276px;
          font-size: 16px;
          color: #0039b3;
          cursor: pointer;
        }
        .right-accect-box {
          display: flex;
          margin-top: 10px;
          .right-icon-box {
            width: 16px;
            height: 16px;
            .right-icons {
              width: 16px;
              height: 16px;
            }
          }
          .right-xieyi {
            margin-left: 4px;
            font-size: 16px;
            span {
              color: #0039b3;
              cursor: pointer;
            }
          }
        }
        .submit-button {
          background: #0039b3;
          width: 100%;
          height: 40px;
          margin-top: 24px;
          border-radius: 3px 3px 3px 3px;
          font-size: 16px;
        }
      }
    }
  }
}
